<table>
    <tr>
        <th>termId</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>birthYear</th>
        <th>gender</th>
        <th>race</th>
        <th>party</th>
        <th>termStart</th>
        <th>termEnd</th>
        <th>region</th>
        <th>position</th>
    </tr>
    
    <tr *ngFor="let term of terms">
        <td>{{term.termId}}</td>
        <td>{{term.person.firstName}}</td>
        <td>{{term.person.lastName}}</td>
        <td>{{term.person.birthYear}}</td>
        <td>{{term.person.gender}}</td>
        <td>{{term.person.race}}</td>
        <td>{{term.person.party}}</td>
        <td>{{term.termStart}}</td>
        <td>{{term.termEnd}}</td>
        <td>{{term.region}}</td>
        <td>{{term.position}}</td>
    </tr>
</table>