.titleDiv{

    width: 100%;
    text-align: center;
    min-height: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    background:
        url(src/assets/AmericanFlag2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
	font-size: 32px;
    -webkit-text-stroke: 2px black;
    box-shadow: 0px 5px rgba(0,0,0,.4);
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: grey;
}
.topPage{
    width: 100%;
}
.introDiv{
    font-size: 18px;
    padding: 15px;
    max-width: 700px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0,0,0, .6);
    color:#444;
}



.conclusionDiv{
    font-size: 18px;
    padding: 15px;
    max-width: 700px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0,0,0, .6);
    color:#444;
}

.container{
    margin: auto;
    border-style: outset;
    border-radius: 5px;
    width: 1365px;
    box-shadow: 2px 4px rgba(0,0,0,.4);
    
    margin-top: 30px;
    margin-bottom: 30px;
    height: 900px;
}

.bottomPage{
    background-color: grey;
    height: fit-content;
    min-height: 50px;
   
    margin-bottom: 0;
    padding-top: 35px;

    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}


p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.authors{
    padding-left: 5px;
    font-size: 12px;
    color: white;
    margin: 0px;

}

